%p Select live cells and begin game


.game-wrapper
	.game
		= render 'grid'


.row
	.text-center
		%a#start.btn.btn-primary Start
		%a#stop.btn.btn-primary.hidden Stop
		%a#next.btn.btn-primary Next Gen
		%br
		%br
		=link_to "Reset", welcome_index_path, :class=>"btn btn-primary", method: :get
		%br
		%br
		%br

#generation_count
	0
