// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-wrapper{
	margin-bottom: 40px;
	>.game{
			background: #e3e3e3;
			padding: 4px 5px 0 5px;
			margin: 20px 0;
		>.grid {
			line-height: 1em;
			>.grid-row {
				>.grid-col{
					display: inline-block;
					>.cell{
						cursor: pointer;
						background: #FFF;
						height: 10px;
						width: 10px;
						display: inline-block;
						position: relative;
						&.active{
							background: #000;
						}
					}
				}
			}
		}
	}
}


#generation_count {
	position: fixed;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
	background: #cacaca;
	font-size: 3em;
	justify-content: center;
	font-weight: 900;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	vertical-align: middle;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction:row;
}

.flex-v-align {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}